@{
    ViewBag.Title = "Home Page";
}
<div ng-app="app">

    <div ng-controller="ImmunizationCoverCtrl">
        <h2>Immunization Coverage Graph</h2>


        <div> {{message}}</div>
    </div>
</div>